.iframe-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .iframe-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none; /* Removes the default border */
  }