.trainset-dashboard{

  .card {
    border-radius: 0;
    margin-bottom: 8px;

    .car-header {
      background-color: #007bff;
      color: white;
      padding: 4px 16px !important;
    }
  }

  .tree-item-list {
    display: flex;
    flex-wrap: wrap;
    .desc {
      max-width: 140px;
    }
  }

  .ongoing-activities {
    max-height: 200px;
  }
}

.trainset-dashboard-wo-dialog{
  zoom:88%;
  margin-top: 4vh !important;
}


.mat-sort-header-content {
  /* align-items: baseline; */
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column !important;
  align-items: baseline !important
}

.mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  /* padding: 0px 5px; */
  padding-bottom: 8px;
}
